/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .atm-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .screen {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .buttons button {
    display: inline-block;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  